            <div class="nav-item dropdown">
                <a href="#" id="spanishlink"><img src="/meetPoll_TSW/img/spain.png" alt="lang"></a>
                <a href="#" id="englishlink"><img src="/meetPoll_TSW/img/uk.png" alt="lang"></a>
            </div>

     