<div>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="/meetPoll_TSW/img/logo.png" alt="logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="userbar">Loading...</div>

      <div id="languagecontrol">Loading...</div>

    </nav>
  </header>

  <!-- router contents -->
  <main id="maincontent">Loading...</main>
 
</div>
